<nav class="w-full text-white py-5 fixed bg-slate-800 shadow-sm">
  <div class="max-w-screen-xl m-auto px-20 flex justify-between items-center">
    <a class="text-green-400 text-2xl font-extrabold" routerLink="/">Conduit</a>

    <ul class="flex justify-center items-center gap-5">
      <li class="">
        <a
          class="cursor-pointer hover:text-green-400 hover:border-b-2 hover:border-green-400"
          routerLink="/"
          >Home</a
        >
      </li>
      <li class="">
        <a
          class="cursor-pointer hover:text-green-400 hover:border-b-2 hover:border-green-400"
          routerLink="/login"
          >Sign in</a
        >
      </li>
      <li class="">
        <a
          class="cursor-pointer hover:text-green-400 hover:border-b-2 hover:border-green-400"
          routerLink="/register"
          >Sign up</a
        >
      </li>
    </ul>
  </div>
</nav>
