<div class="flex gap-3 items-center justify-between text-white">
  <div class="flex items-center gap-2">
    <a
      class="cursor-pointer"
      [routerLink]="['/profile', article?.author?.username]"
      ><img
        src="{{ article?.author?.image }}"
        alt="profile"
        class="w-10 h-10 object-cover rounded-full"
      />
    </a>

    <div class="flex flex-col justify-center">
      <a
        class="text-[1.2rem] cursor-pointer hover:underline"
        [routerLink]="article?.author?.username"
        >{{ article?.author?.username }}</a
      >
      <span class="text-[0.8rem] text-slate-400">
        {{ article?.createdAt | date : "longDate" }}
      </span>
    </div>
  </div>
  <ng-content></ng-content>
</div>
