<div class="flex flex-col gap-6 hover:bg-gray-700 p-2 rounded-lg">
  <!-- Header preview -->
  <app-article-meta [article]="article">
    <app-favourite-button>
      <p class="text-sm">
        {{ article.favoritesCount }}
      </p>
    </app-favourite-button>
  </app-article-meta>

  <!-- Main Preview Body -->
  <a [routerLink]="['/article', article.slug]" class="text-white">
    <h1 class="text-[1.9rem] leading-9 mb-2">
      {{ article.title }}
    </h1>
    <p class="text-slate-400 text-[0.9rem]">
      {{ article.description }}
    </p>
    <div class="flex justify-between items-center mt-10">
      <span class="text-[0.9rem] font-light text-slate-200 hover:text-slate-100"
        >Read more...</span
      >
      <ul class="flex flex-wrap gap-4 text-slate-500">
        <li
          class="rounded-lg border-2 px-2 border-slate-500"
          *ngFor="let tag of article.tagList"
        >
          {{ tag }}
        </li>
      </ul>
    </div>
  </a>
</div>
