@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  width: 100%;
  background: #1e293b;
  font-family: "Titillium Web", sans-serif;
}

.bg-hero {
  background: #11998e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #38ef7d,
    #11998e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #30d870,
    #11998e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-not-found {
  background-image: url("./assets/404.png");
  background-repeat: no-repeat;
  background-size: cover;
}

::-webkit-scrollbar {
  width: 8px;
  border-radius: 5px; /* Rounded corners */
  background: #1e293b; /* Background color */
}

::-webkit-scrollbar-thumb {
  background: #64748b;
  border-radius: 5px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: #334155; /* Change color on hover */
}

::-webkit-scrollbar-track {
  background: #1e293b;
  border-radius: 5px; /* Rounded corners */
}
